# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    #csrf_protection: true
    http_method_override: false

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        enabled: true
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    #esi: true
    #fragments: true
    php_errors:
        log: true

    http_client:
        max_host_connections: 5
        scoped_clients:
            default_http_client:
                base_uri: '%env(API_BASE_URI)%'
                verify_host: '%env(bool:API_VERIFY_SSL)%'
                verify_peer: '%env(bool:API_VERIFY_SSL)%'
                headers:
                    accept: 'application/json'
                    content-type: 'application/json'

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
